{% extends 'news/base.html' %}

{% block  content %}

{% load static %}
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-inner">
                    <div class="blog-detail-title">
                        <h2>{{article.name}}</h2>
                        <p>{{ article.categories.all.0 }} <span>- {{ article.pub_date }}</span></p>
                    </div>
                    <div class="blog-large-pic">
                        <img src="{{ article.main_image.url }}" alt="">
                    </div>
                    <div class="blog-detail-desc">
                    <div>{{ article.content | safe}}
                    </div>
                    <div class="tag-share">
                        <div class="details-tag">
                            <ul>
                                <li><i class="fa fa-tags"></i></li>
                                {% for cat in article.categories.all %}
                            <li><a href="{% url 'category' cat.slug %}">{{ cat.name }}</a></li>
                             {% endfor %}
                            </ul>
                        </div>
                        <div class="blog-share">
                            <span>Share:</span>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post">
                        <div class="row">
                            {% if prev_article %}
                            <div class="col-lg-5 col-md-6">
                                 <a href="{{prev_article.slug}}" class="prev-blog">
                                    <div class="pb-pic">
                                        <i class="ti-arrow-left"></i>
                                        <img src="{{prev_article.main_image.url}}" alt="">
                                    </div>
                                    <div class="pb-text">
                                        <span>Previous Post:</span>
                                        <h5>{{prev_article.name | title}}</h5>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                            {% if next_article %}
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <a href="{{next_article.slug}}" class="next-blog">
                                    <div class="nb-pic">
                                        <img src="{{next_article.main_image.url}}" alt="">
                                        <i class="ti-arrow-right"></i>
                                    </div>
                                    <div class="nb-text">
                                        <span>Next Post:</span>
                                        <h5>{{next_article.name | title}}</h5>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="posted-by">
                        <div class="pb-pic">
                            <img src="{{ article.author.avatar.url }}" width="90" alt="{{ article.author.name | title }}">
                        </div>
                        <div class="pb-text">
                            <span>
                                <h5>{{ article.author.name | title }}</h5>
                            </span>
                            <p>{{ article.author.bio }}</p>
                        </div>
                    </div>

                    <h4>{{ article.comments.all.count }} Comments</h4>

                    {% for comment in article.comments.all %}
                    <div class="posted-by">
                        <div class="pb-text">
                            <span>
                                <h5>{{ comment.name }} - {{ comment.pub_date }}</h5>
                            </span>
                            <p>{{ comment.comment }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="leave-comment">
                        <h4>Leave A Comment</h4>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                         <form action="" class="comment-form" method="post">
                             {% csrf_token %}
                             <div class="row">
                                <div class="col-lg-6">
                                     {{ form.name.errors }}
                                    <input type="text" placeholder="Name" required name="name"
                                           {% if form.name.value%}
                                           value="{{ form.name.value }}"
                                           {% endif %}
                                    >
                                </div>
                                <div class="col-lg-6">
                                    {{ form.email.errors }}
                                    <input type="text" placeholder="Email" required name="email"
                                           {% if form.email.value%}
                                           value="{{ form.email.value }}"
                                           {% endif %}
                                    >
                                </div>
                                <div class="col-lg-12">
                                    {{ form.website.errors }}
                                    <input type="text" placeholder="Website" name="website"
                                           {% if form.website.value%}
                                               value="{{ form.website.value }}"
                                           {% endif %}
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Write Comment" name="comment"></textarea>
                                    <button type="submit" class="site-btn">Send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

{% endblock %}